extends layout

block content
  h1(class='my-4 text-center text-2xl font-bold')= title

  if author_list.length
    ul
      each author in author_list
        li
          a(href=author.url class="text-blue-500 hover:underline") #{author.name}
          |  (#{author.lifespan})
  else
    p There are no authors.