extends layout 

block content 
  h1(class='my-4 text-center text-2xl font-bold')= title 
  if genre_list.length 
    ul 
      each genre in genre_list 
        li 
          a(href=genre.url class="text-blue-500 hover:underline") #{genre.name}
  else 
    p There are no genres.